//--------------COLORS--------------
$gradient: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%);
$blue: #4066a5;
$black: #131821;
$gray: #6a707b;
$light_gray: #e3e3e4;
$dirty_white: #f2f5fa;
//-----------FONTS-------------------------
$font_main: "Georgia";
$font_secondary: "Arial";
$font_icons: "fontello";
//-------------- SOC MEDIA ICON COLORS--------------
$link_hover: #4066a5;
$link_pressed: #233759;
$icon_color: #e2e3e4;
$fb_hover: #4267b2;
$fb_pressed: #2f4a80;

$ig_hover: #c13584;
$ig_pressed: #8f2762;

$twt_hover: #1da1f2;
$twt_pressed: #177fbf;
$ytb_hover: #ff0000;
$ytb_pressed: #cc0000;
//-------------------OTHER------------------------
$shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
